In [2]:
import pandas as pd
from streamlit import columns

### Police Force Area Data Tables March 2024

In [21]:
df = pd.read_excel('../data/raw/pfatablesyemar24final.xlsx', sheet_name='Table P1', skiprows=6)

In [23]:
df.head()

,Area Code,Area Name,Total recorded crime\n (excluding fraud) \n[note 2],Violence against the person,Homicide,Violence with injury,Violence without injury,Stalking and harassment,Death or serious injury - unlawful driving,Sexual offences,...,Vehicle offences,Theft from the person,Bicycle theft,Shoplifting,Other theft offences,Criminal damage and arson,Drug offences,Possession of weapons offences,Public order offences,Miscellaneous crimes
0,K04000001,ENGLAND AND WALES [note 3],5402047,2014390,583,556730,817886,637605,1586,188893,...,380100,131453,66960,443995,489308,496736,181421,58130,488589,114564
1,E92000001,ENGLAND,5059395,1889562,556,524340,769170,593961,1535,177382,...,366947,117735,59681,416122,458992,459534,170913,55249,443871,108193
2,E12000001,North East,285315,107079,31,30311,38963,37715,59,9869,...,16029,1699,2483,29983,21178,36341,7428,2707,26136,7476
3,E23000013,Cleveland,76680,28584,13,7181,10693,10673,24,2523,...,4468,327,608,7560,5323,9502,2498,717,7121,2061
4,E23000008,Durham,64285,25055,5,5556,10289,9190,15,2304,...,3159,154,412,7105,4177,9281,1384,463,5497,1877

In [24]:
df.to_csv('../data/cleaned/police_force_area_mar_2024.csv')

### Police Force Area Data Tables March 2023

In [25]:
df = pd.read_excel('../data/raw/pfatableyemar231.xlsx', sheet_name='Table P1', skiprows=6)

In [26]:
df.head()

,Area Code,Area Name,Total recorded crime\n (excluding fraud) [note 2],Violence against the person,Homicide,Violence with injury,Violence without injury,Stalking and harassment,Death or serious injury - unlawful driving,Sexual offences,...,Vehicle offences,Theft from the person,Bicycle theft,Shoplifting,Other theft offences,Criminal damage and arson,Drug offences,Possession of weapons offences,Public order offences,Miscellaneous crimes against society
0,K04000001,ENGLAND AND WALES [note 3]\n,5584888,2113383,602,573791,828673,709388,929,195315,...,405872,112406,77148,342343,510673,530875,177994,57413,591763,118519
1,E92000001,ENGLAND\n,5244058,1985379,569,541374,779763,662776,897,183284,...,393060,102428,68990,322189,481434,492156,166925,54853,542210,112258
2,E12000001,North East,291131,109982,42,30105,38801,40986,48,10004,...,16552,1590,2891,23036,22863,39028,6683,2566,32024,7386
3,E23000013,Cleveland,84210,31386,11,7498,11141,12717,19,2660,...,4344,598,816,7396,5504,10704,2332,733,9495,2105
4,E23000008,Durham,64094,25737,9,5744,9511,10454,19,2291,...,2530,166,387,4846,4220,9449,1490,450,7501,1853

In [27]:
df.to_csv('../data/cleaned/police_force_area_mar_2023.csv')

### Police Force Area Data Tables March 2022

In [51]:
df = pd.read_excel('../data/raw/pfafinalmar22.xlsx', sheet_name='Table P1', skiprows=6)

In [52]:
df.head()

,Area Code,Area Name,Total recorded crime\n (excluding fraud) [note 2],Violence against the person,Homicide,Violence with injury,Violence without injury,Stalking and harassment,Death or serious injury - unlawful driving,Sexual offences,...,Vehicle offences,Theft from the person,Bicycle theft,Shoplifting,Other theft offences,Criminal damage and arson,Drug offences,Possession of weapons offences,Public order offences,Miscellaneous crimes
0,K04000001,ENGLAND AND WALES [note 3],5335806,2103151,710,566603,812561,722574,703,194683,...,361045,88212,77465,274999,431619,531329,177644,49094,600170,113824
1,E92000001,ENGLAND,5017260,1976656,676,534562,766393,674358,667,183094,...,350053,82499,71064,260012,408495,493083,166258,46916,551306,107523
2,E12000001,North East,267956,105668,26,28384,37529,39705,24,10023,...,12348,1350,2939,17410,20288,35125,6417,2153,32014,6993
3,E23000013,Cleveland,73490,28061,10,6460,10414,11169,8,2518,...,3348,379,712,5570,5132,9952,2102,647,8346,1893
4,E23000008,Durham,59145,24964,5,5693,8893,10357,16,2145,...,2326,261,411,3563,3646,9399,1389,351,5946,1600

In [53]:
df.to_csv('../data/cleaned/police_force_area_mar_2022.csv')